body {
    background-color: #237bbd;
}
/******************************* jumbotron */
.jumbotron, .tab-content {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #103958;
}
.display-4 {
    color: #d62021;
}

/********************************** tabs */
.nav-tabs, .nav-item {
    border-radius: 0!important;
    color: #103958;
}

/********************************** cards */
.card {
    border-radius: 0!important;
    border: 1px solid #103958;
}
.card:hover {    
    border: 1px solid #d62021;
}
.card-header a {
    color: #103958;
}
.card-header a:hover {
    text-decoration-line: none;
    color: #d62021;

}
